{% extends '_base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="row">
  <div class="col-8">
    {% for link in links %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ link.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ link.link }}</h6>
        <br />
        <figcaption class="blockquote-footer">
          Created on {{ link.created }} by {{ link.author }}
        </figcaption>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-3">
    <h4>Create a new link-post</h4>
    {% if user.is_authenticated %}
    <form method="post">
      {{ link_post_form | crispy }} {% csrf_token %}
      <button class="btn btn-primary" type="submit">
        Create a new link-post
      </button>
    </form>
    {% else %}
    <h5>Please log-in using link in header</h5>
    {% endif %}
  </div>
</div>
{% endblock content %}
